/* SECTION EVENEMENTS */
.sectionEvenement {
    background-color: black;
    background-image:
        url('../images/topLeft.png'),
        url('../images/bottomRight.png');
    background-repeat: no-repeat;
    background-position: 
        top left, 
        bottom right; 
    width: 100%;
    height: 715px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topLeft{
    position: relative;
    top: -57px;
    z-index: 0;
}
.bottomRight{
    position: relative;
    bottom: -5px;
    right: 0;
    overflow:unset
}
.newLetterBloc{
    height: 60px;
    position: relative;
    bottom: -35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.newsLetterBtn{
    background-color: #F7B400;
    text-decoration: none;
    color: black;
    font-family: 'Coda', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 3px 10px;
    box-shadow: rgba(223, 221, 221, 0.35) 2px 2px 4px;
    text-align: center;
}
/* BANDE RESEAUX */
.bandeReseaux{
    background-color: #F7B400;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconeReseaux{
    width: 48px;
    height: 48px;
    margin-left: 80px;
    margin-right: 80px;
}
/* SECTION EQUIPES */
.sectionEquipes {
    background-color: black;
    background-image:
        url('../images/topLeftEquipes.png'),
        url('../images/centerEquipe.png'),
        url('../images/bottomRightEquipe.png');
    background-repeat: no-repeat;
    background-position: 
        top left,
        center,
        bottom right; 
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BANDE PARTENAIRES */
.bandePartenaires{
    background-color: #F7B400;
    width: 100;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERIES */

@media (max-width:860px) {
    /* BANDE RESEAUX */
    .iconeReseaux{
        width: 48px;
        height: 48px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width:620px) {
    /* BANDE RESEAUX */
    .iconeReseaux{
        width: 48px;
        height: 48px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width:410px) {
    /* BANDE RESEAUX */
    .bandeReseaux{
        background-color: #F7B400;
        width: 100;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .iconeReseaux{
        width: 38px;
        height: 38px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:280px) {
    /* BANDE RESEAUX */
    .iconeReseaux{
        width: 28px;
        height: 28px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width:750px) {
    /* SECTION EQUIPES */
    .sectionEquipes {
        overflow-y: scroll;
        align-items: center;
        justify-content: center;
        display: block;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .sectionEquipes::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}