/* SECTION EVENEMENTS */
.sectionEvenement {
    background-color: black;
    background-image:
        url('../images/topLeft.png'),
        url('../images/bottomRight.png');
    background-repeat: no-repeat;
    background-position: 
        top left, 
        bottom right; 
    width: 100%;
    height: 715px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    /* MOTIF BACKGROUND */
    .topLeft{
        position: relative;
        top: -57px;
        z-index: 0;
    }
    .bottomRight{
        position: relative;
        bottom: -5px;
        right: 0;
        overflow:unset
    }
    /* NEWSLETTER */
    .newLetterBloc{
        height: 60px;
        position: relative;
        bottom: -35px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .newsLetterBtn{
        background-color: #F7B400;
        text-decoration: none;
        color: black;
        font-family: 'Coda', sans-serif;
        font-weight: 700;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        padding: 3px 10px;
        box-shadow: rgba(223, 221, 221, 0.35) 2px 2px 4px;
        text-align: center;
    }
    /* POP UP */
    .popUpNl{
        position: fixed;
        padding: 0;
        margin: 0;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(253, 253, 255, 0.294);
        backdrop-filter: blur(5px);
        z-index: 3;
        display: none;
    }
    /* QUAND POP UP ACTIVÉ : */
    .unHide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* POPUP+LEAVBTN CONTAINER */
        .popUpAndCrossContainer{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /* INPUT POP UP */
        .cadrePopUp{
            background-color: black;
            width: 350px;
            height: 100px;
            border-radius:45px;
            display: flex;
            align-items: center;
            padding: 25px 10px;
        }
        .popUpLogo{
            display: block;
            position: relative;
            top: -70px;
            left: 90px;
        }
        .inputAndBtn{
            position: relative;
            left: -140px;
            display: flex;
            width: 250px;
            height: 35px;
        }
            #nlEmail{
                background-color: #827d7d;
                padding: 3px;
                border-radius: 15px;
                border: none;
                color: white;
                font-size: 1.2rem;
            }
                #nlEmail::placeholder {
                    color: white;
                }
            .popUpBtn{
                margin-left: 20px;
            }
        .leaveBtn{
            width: 50px;
            height: 50px;
            margin-left: 50px;
            cursor: pointer;
        }
/* BANDE RESEAUX */
.bandeReseaux{
    background-color: #F7B400;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconeReseaux{
    width: 48px;
    height: 48px;
    margin-left: 80px;
    margin-right: 80px;
}
/* SECTION EQUIPES */
.sectionEquipes {
    background-color: black;
    background-image:
        url('../images/topLeftEquipes.png'),
        url('../images/centerEquipe.png'),
        url('../images/bottomRightEquipe.png');
    background-repeat: no-repeat;
    background-position: 
        top left,
        center,
        bottom right; 
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BANDE PARTENAIRES */
.bandePartenaires{
    background-color: #F7B400;
    width: 100;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERIES */

@media (max-width:860px) {
    /* BANDE RESEAUX */
    .iconeReseaux{
        width: 48px;
        height: 48px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width:620px) {
    /* BANDE RESEAUX */
    .iconeReseaux{
        width: 48px;
        height: 48px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width:410px) {
    /* BANDE RESEAUX */
    .bandeReseaux{
        background-color: #F7B400;
        width: 100;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .iconeReseaux{
        width: 38px;
        height: 38px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:280px) {
    /* BANDE RESEAUX */
    .iconeReseaux{
        width: 28px;
        height: 28px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width:750px) {
    /* SECTION EQUIPES */
    .sectionEquipes {
        overflow-y: scroll;
        align-items: center;
        justify-content: center;
        display: block;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .sectionEquipes::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}