.player-card {
  width: 200px;
  height: 300px;
  margin: 20px;
  text-align: center;
  transform: skew(-10deg, 0deg);
  background-color: #F7B400;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow:hidden;

}

/* Annuler l'effet skew pour les éléments intérieurs */
.player-card > * {
  transform: skew(10deg, 0deg);
}

.playerImgContainer{
  width: 100%;
  height: 50%;
  transform: skew(0deg, 0deg);
}

.player-photo {
  width: 100%;
  height: 100%;
}

.social-networks a {
  margin: 0 10px;
  text-decoration: none;
  color: #007BFF;
}

.social-networks a:hover {
  text-decoration: underline;
}

.player-pseudo{
  background-color: #1E1D1F;
  color:#F7B400;
  transform: skew(0deg, 0deg);
  padding: 10px;
}

.reseauxPC{
  width: 25px;
  height: 25px;
}